![image.png](attachment:image.png)

### Qu√© es un DataFrame? 

Un dataframe puede ser interpretado como una tabla de datos, en la que tenemos una serie de filas y de columnas.

Cada **fila** representa un individuo o evento, por ejemplo un cliente de un banco, un producto de un supermercado o un coche que pasa por un peaje. 

En las **columnas** est√°n representadas las caracter√≠sticas de estos individuos o eventos: su procedencia, tama√±o o el d√≠a y la hora en que fue tomado el dato.

### Qu√© tipos de datos contienen los dataframes?

Principalmente eixten cuatro tipos de datos: 

 - **Num√©ricos** 
 
 - **Cadena de caracteres** (tambi√©n conocidos como alfanum√©ricos o string)
 
 - **Booleanos**
 
 - **Fecha**

Los datos num√©ricos son m√°s variados, pueden ser **enteros** o **decimales**, y se pueden hacer operaciones matem√°ticas con ellos.

Gracias a ellos solemos almacenar datos como la edad, la temperatura o una cantidad de objetos

In [ ]:
entero = 10
entero

In [ ]:
type(entero)

In [ ]:
decimal = 10.5
decimal

In [ ]:
type(decimal)

In [ ]:
suma = entero + decimal
suma

In [ ]:
type(suma)

Los de cadena representan **s√≠mbolos de escritura**, principalmente letras, aunque tambi√©n n√∫meros y signos de puntuaci√≥n. 

Son usados para representar nombres o las categor√≠as de una variable

In [ ]:
cadena = "Hola Mundo"
cadena

In [ ]:
type(cadena)

‚ö†Ô∏è¬°¬°Observa que las cadenas de caracteres van siempre **entre comillas**!! √âstas pueden ser √∫nicas o dobles, tienen el mismo significado, pero deben ser usadas con cuidado por causa de las ap√≥stofres, por ejemplo en ingl√©s...

In [ ]:
Saludo = 'Hello! I'm going to the bootcamp
Saludo

In [ ]:
Saludo = "Hello I'm going to the bootcamp"
Saludo

Los Booleanos o **dicot√≥micos** indican 1 √≥ 0, para indicar Verdadero/Falso

In [ ]:
Verdad = True
Verdad

In [ ]:
type(Verdad)

In [ ]:
Mentira = False
Mentira

‚ö†Ô∏èOberva que los buleanos en el fondo son **n√∫meros**!!!

In [ ]:
Verdad + Mentira

Finalmente tenemos el formato **fecha**, en el fondo es un n√∫mero entero pero que puede ser interpretado como un dia/momento en concreto, incluyendo mes y a√±o u hora, minuto, segundo y microsegundo. Tambi√©n se pueden hacer operaciones con ellos, por ejemplo sumar un dia.

Nos ayudan a indicar cu√°ndo fue tomado el dato, la fecha de nacimiento o desde cu√°ndo una persona es cliente

In [8]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

import datetime


hoy = datetime.today()
print("Hoy ", hoy)

manana = hoy + timedelta(seconds = 1)
print("Ma√±ana ", manana)

diferencia = manana - hoy
print("Diferencia ", diferencia.seconds)

AttributeError: ignored

In [ ]:
type(hoy)

¬øQu√© significan esos **from** e **import**?? Son librerias, conjuntos de funciones

### Qu√© es una librer√≠a?

Como acabamos de indicar son conjuntos de funciones que nos facilitan la vida. Agilizan las acciones que queremos llevar a cabo con los datos (en nuestro caso).

La librer√≠a **datetime** nos permite sumar intervalos de tiempo y cambiar la forma en que representamos el dato, por ejemplo.

Nosotros hoy vamos a centrarnos en la librer√≠a **pandas**. Es la especializada en el manejo de los dataframes

In [ ]:
import pandas as pd

En esta p√°gina podemos encontrar todas las funciones que est√°n integradas en esta librer√≠a

https://pandas.pydata.org/

Por convenio, en todo el mundo, usamos el "apodo" **pd** cuando trabajamos con la librer√≠a pandas, nos ahorra mucha verbosidad

### Listas y diccionarios

Son dos maneras de almacenar informaci√≥n. 

 - Las **listas** permiten almacenar elementos de diferentes tipos de datos, numeros, string...
 - Est√°n encapsuladas en []
 - Son objetos indexados
 
 
 - Los **diccionarios** tambi√©n permiten guardar informaci√≥n de varios tipos
 - Los diccionarios se encapsulan en {}
 - Cada elemento del diccionario contiene una key y un value. La **key** equivale al √≠ndice y el **value** es la informaci√≥n en s√≠ misma
 
 
 - Ambas maneras de almacenamiento son consideradas **No-estrucutaradas**
 - Pueden **anidarse** varias listas dentro de listas y diccionarios dentro de listas y listas con diccionarios....

![image.png](attachment:image.png)

### DataFrames

Hay varias maneras de empezar a trabajar un dataframe:

 - Crearlo a mano
 - Importarlo de un fichero txt o csv... 
 - Llamarlo desde una librer√≠a  
 - Transformarlo desde otro formato como una lista o diccionario

Nosotros vamos a crear un diccionario y luego lo vamos a transformar en DataFrame, usando un m√©todo de la librer√≠a pandas con el mismo nombre.

‚ö†Ô∏è F√≠jate! Hemos usado el **pd**

In [9]:
import pandas as pd
familia = {'miembro':('padre','madre','hijo','hija','sobrino','primo','abuela'),
           'nombre':['Manuel','Maria','Diego','Bernarda','Pablo','Antonio','Concha'],
           'edad': [58, 56, 17, 23, 5, 12, 78],
           'estado_civil':['casado','casado','soltero','soltero','soltero','soltero','viuda'],
           'altura':[1.78, 1.69, 1.7, 1.79, 1.56, 1.59, 1.60],
           'sexo':['hombro','mujer','hombre','mujer','hombre','hombre','mujer'],
           'hombre':[True, False, True, False, True, True, False]}

familia_df = pd.DataFrame(familia)
familia_df

   miembro    nombre  edad estado_civil  altura    sexo  hombre
0    padre    Manuel    58       casado    1.78  hombro    True
1    madre     Maria    56       casado    1.69   mujer   False
2     hijo     Diego    17      soltero    1.70  hombre    True
3     hija  Bernarda    23      soltero    1.79   mujer   False
4  sobrino     Pablo     5      soltero    1.56  hombre    True
5    primo   Antonio    12      soltero    1.59  hombre    True
6   abuela    Concha    78        viuda    1.60   mujer   False

In [ ]:
familia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   miembro       7 non-null      object
 1   nombre        7 non-null      object
 2   edad          7 non-null      int64
 3   estado_civil  7 non-null      object
 4   altura        7 non-null      float64
 5   sexo          7 non-null      object
 6   hombre        7 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 471.0+ bytes




üìù¬øCu√°les son las diferencias y similitudes entre las variables Sexo y Hombre??

Si queremos importar los datos a partir de un csv o un txt debemos usar este comando

In [ ]:
ruta = 'Escritorio/fichero.txt' # camino donde se encuentra el fichero guardado en nuestro ordenador
Tabla = pd.read_csv(ruta, sep='|')
pd.read_excel()
pd.read_html()
pd.read_json()

### Jugar con los datos

Una vez tenemos los datos delante vamos a empezar a trabajarlos, qu√© acciones podemos realizar con ellos?

 - Filtrar los datos por alg√∫n criterio (eliminar l√≠neas)
 - Reducir dimensionalidad (eliminar columnas)
 - Crear variables calculadas a partir de otras
 - Ordenar los datos
 - y mucho m√°s...

#### Filtrar datos

In [ ]:
familia_df[familia_df['sexo'] == 'hombre']

   miembro   nombre  edad estado_civil  altura    sexo  hombre
2     hijo    Diego    17      soltero    1.70  hombre    True
4  sobrino    Pablo     5      soltero    1.56  hombre    True
5    primo  Antonio    12      soltero    1.59  hombre    True

üìù C√≥mo har√≠amos para mostrar solo a los miembros de la familia mayores de edad??

In [ ]:
familia_df[familia_df['edad'] > 17]

#### seleccionar columnas

In [ ]:
familia_df[['edad','nombre']]

   edad    nombre
0    58    Manuel
1    56     Maria
2    17     Diego
3    23  Bernarda
4     5     Pablo
5    12   Antonio
6    78    Concha

üö® F√≠jate en que ha cambiado el orden de las columnas

#### Calcular nuevas variables

Existen dos m√©todos para introducirse en el coraz√≥n de un dataframe:

 - loc
 - iloc


Con **loc** entramos a trav√©s de las variables/columnas, con **iloc** a trav√©s de las filas/indices

**loc** es muy utilizado para crear nuevas variables

In [ ]:
# l√≥gica de la sintaxis de un loc
# dataframe.loc[dataframe[variable] condicion, nombre_nueva_variable] = valor_que_toma_si_cumple_condicion

familia_df.loc[familia_df['edad'] >= 18, 'adulto'] = 'Si'
familia_df.loc[familia_df['edad'] < 18, 'adulto'] = 'No'
familia_df

Por otro lado **iloc** es usado para acceder a la tabla a trav√©s de sus √≠ndices

In [ ]:
# Accedemos a la informaci√≥n de la tabla a trav√©s de la posici√≥n de las filas y las columnas.
# dataframe.iloc[rango de filas que queremos retener , rango de columnas que queremos retener]

familia_df.iloc[1:3,2:5]

   edad estado_civil  altura
1    56       casado    1.69
2    17      soltero    1.70

#### ordenar valores

In [ ]:
familia_df.sort_values('edad', ascending = True)

In [ ]:
familia_df.sort_values(['estado_civil','miembro'], ascending = [False,True])

#### Agrupar datos

Podemos calcular operaciones matem√°ticas en funci√≥n de una variable categ√≥rica. Primeramente agrupamos las filas de la tabla inicial por la variable estado civil, posteriormente calculamos la media, la desviaci√≥n t√≠pica y el valor m√°ximo de las variables edad y altura

In [ ]:
# otras funciones que podemos calcular: min, count, median
familia_df.groupby('estado_civil')[['edad','altura']].agg(['mean','std','max','min, median'])

               edad               altura
               mean       std max   mean       std   max
estado_civil
casado        57.00  1.414214  58  1.735  0.063640  1.78
soltero       14.25  7.632169  23  1.660  0.105515  1.79
viuda         78.00       NaN  78  1.600       NaN  1.60

#### Juntar tablas

Principalmente contamos con dos maneras para juntar informaci√≥n de dos tablas diferentes: 

 - por filas, axis = 0
 - por columnas, axis = 1
 
Por otro lado, tenemos dos m√©todos que nos permiten hacer esta uni√≥n (con la librer√≠a pandas):

 - concat
 - merge
 
Primeramente vamos a crear otro dataframe, en este caso contendr√° informaci√≥n acerca de la situaci√≥n laboral de unas personas

In [10]:
trabajadores = {'nombre':['Manuel','Maria','Diego','Bernarda','Alejandro','Felipe','Concha'],
           'antiguedad': [14, 26, 1, 2, 0, 6, 50],
           'profesion':['administrativo','director','becario','analista de datos','desempleado','abogado','retirada'],
           'salario':[1000, 2000, 100, 1000, 0, 1500, 800]}

trabajadores_df = pd.DataFrame(trabajadores)
trabajadores_df

      nombre  antiguedad          profesion  salario
0     Manuel          14     administrativo     1000
1      Maria          26           director     2000
2      Diego           1            becario      100
3   Bernarda           2  analista de datos     1000
4  Alejandro           0        desempleado        0
5     Felipe           6            abogado     1500
6     Concha          50           retirada      800

In [ ]:
familia_df

   miembro    nombre  edad estado_civil  altura    sexo  hombre
0    padre    Manuel    58       casado    1.78  hombro    True
1    madre     Maria    56       casado    1.69   mujer   False
2     hijo     Diego    17      soltero    1.70  hombre    True
3     hija  Bernarda    23      soltero    1.79   mujer   False
4  sobrino     Pablo     5      soltero    1.56  hombre    True
5    primo   Antonio    12      soltero    1.59  hombre    True
6   abuela    Concha    78        viuda    1.60   mujer   False

Cuando juntamos por filas hay que tener en cuenta que ambas tablas tengan las mismas columnas, si no crearemos valores missing

Por otro lado, cuando juntamos por columnas es deseable que haya filas en com√∫n, seg√∫n la columna de cruce

In [ ]:
trabajadores_df

      nombre  antiguedad          profesion  salario
0     Manuel          14     administrativo     1000
1      Maria          26           director     2000
2      Diego           1            becario      100
3   Bernarda           2  analista de datos     1000
4  Alejandro           0        desempleado        0
5     Felipe           6            abogado     1500
6     Concha          50           retirada      800

In [22]:
# how puede tomar los siguientes valores: left, inner, right y outer
# pd.concat([df1,df2])
cruce_merge = familia_df.merge(trabajadores_df, on = ['nombre'], how = 'left')
cruce_merge

,miembro,nombre,edad,estado_civil,altura,sexo,hombre,antiguedad,profesion,salario
0,padre,Manuel,58,casado,1.78,hombro,True,14.0,administrativo,1000.0
1,madre,Maria,56,casado,1.69,mujer,False,26.0,director,2000.0
2,hijo,Diego,17,soltero,1.70,hombre,True,1.0,becario,100.0
3,hija,Bernarda,23,soltero,1.79,mujer,False,2.0,analista de datos,1000.0
4,sobrino,Pablo,5,soltero,1.56,hombre,True,NaN,NaN,NaN
5,primo,Antonio,12,soltero,1.59,hombre,True,NaN,NaN,NaN
6,abuela,Concha,78,viuda,1.60,mujer,False,50.0,retirada,800.0

In [24]:
cruce_concat0 = pd.concat([familia_df, trabajadores_df], axis = 1, names = 'nombre')
cruce_concat0

,miembro,nombre,edad,estado_civil,altura,sexo,hombre,nombre,antiguedad,profesion,salario
0,padre,Manuel,58,casado,1.78,hombro,True,Manuel,14,administrativo,1000
1,madre,Maria,56,casado,1.69,mujer,False,Maria,26,director,2000
2,hijo,Diego,17,soltero,1.70,hombre,True,Diego,1,becario,100
3,hija,Bernarda,23,soltero,1.79,mujer,False,Bernarda,2,analista de datos,1000
4,sobrino,Pablo,5,soltero,1.56,hombre,True,Alejandro,0,desempleado,0
5,primo,Antonio,12,soltero,1.59,hombre,True,Felipe,6,abogado,1500
6,abuela,Concha,78,viuda,1.60,mujer,False,Concha,50,retirada,800

In [ ]:
cruce_concat1 = pd.concat([familia_df, trabajadores_df], axis = 1)
cruce_concat1

,miembro,nombre,edad,estado_civil,altura,sexo,hombre,nombre,antiguedad,profesion,salario
0,padre,Manuel,58,casado,1.78,hombro,True,Manuel,14,administrativo,1000
1,madre,Maria,56,casado,1.69,mujer,False,Maria,26,director,2000
2,hijo,Diego,17,soltero,1.70,hombre,True,Diego,1,becario,100
3,hija,Bernarda,23,soltero,1.79,mujer,False,Bernarda,2,analista de datos,1000
4,sobrino,Pablo,5,soltero,1.56,hombre,True,Alejandro,0,desempleado,0
5,primo,Antonio,12,soltero,1.59,hombre,True,Felipe,6,abogado,1500
6,abuela,Concha,78,viuda,1.60,mujer,False,Concha,50,retirada,800

In [25]:
fM_IND = familia_df.set_index('nombre')
fM_IND.reset_index()

     nombre  miembro  edad estado_civil  altura    sexo  hombre
0    Manuel    padre    58       casado    1.78  hombro    True
1     Maria    madre    56       casado    1.69   mujer   False
2     Diego     hijo    17      soltero    1.70  hombre    True
3  Bernarda     hija    23      soltero    1.79   mujer   False
4     Pablo  sobrino     5      soltero    1.56  hombre    True
5   Antonio    primo    12      soltero    1.59  hombre    True
6    Concha   abuela    78        viuda    1.60   mujer   False

## Medidas de tendencia central y de dispersi√≥n

 - Media, suma de los valores dividido entre el n√∫mero de elementos
 - Mediana, ordenamos los valores ascendentemente y nos quedamos con el valor de en medio
 - Moda, el valor m√°s repetido
 
 
 - Varianza, sumamos la distancia de cada elemento a la media y dividimos por el n√∫mero de elementos
 - Desviaci√≥n t√≠pica, ra√≠z cuadrada de la varianza
 
 
 - Ventajas y desventajas de la Media y la Mediana:
   - La media estamos mucho m√°s habituados a ella y es m√°s f√°cil de entender y calcular
   - La media se ve muy afectada por los valores extremos
   - La media solo debe ser usada cuando la distribuci√≥n de los datos sigue una distribuci√≥n normal
   - La mediana es m√°s robusta a valores extremos y no precisa de condiciones como seguir una distribuci√≥n normal

## PREGUNTAS

 - Qu√© m√©todos hemos visto en el prework para trabajar con listas? (append, pop, sort, len)
 - Qu√© es el √≠ndice de una lista?
 - diferencias entre un bucle FOR y un WHILE, ejemplos de cu√°ndo usar cu√°l
 - Qu√© es la mediana? C√≥mo se calcula?

### Trabajo para el pr√≥ximo d√≠a

 - Calcula el salario medio de los casados
 
 - Obt√©n una tabla con el nombre, estado civil y la antig√ºedad de las mujeres m√°s altas (estrictamente) de 1.60

### Qu√© hacer cuando tengo dudas?

1) Lo primero pensar en si s√© la respuesta

2) Buscar en internet, usando palabras clave, la soluci√≥n a mi duda

3) Preguntar al profesor y compa√±eros